<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=titulo%></title>
</head>
<body>
	<h1>Bienvenido a la plataforma</h1>	
	<nav>
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/user/signup">Registrarme</a></li>
			<li><a href="/user/signin">Iniciar Sesion</a></li>
		</ul>
	</nav>
</body>
</html>